[2017-01-17 10:57] bradduthie opened #10 "Multiple resource"
The resource-wide parameter values (e.g., carrying capacities, movement types) will need to be either:

 1. Defined at the individual scale so that each individual resource has it's own value which can then be called in the `resource` function as necessary, and/or
 2. Input as vector in the base `gmse` function, the length of which could determine how many times `resource` is called in one time st

[2017-04-28 10:47] bradduthie opened #19 "Cost and Action arrays: landscape level initialisation"
The number of landscape layers in the `COST` and `ACTION` arrays is too many -- the `utility_layer` adds one in for every unique resource instead of for every unique landscape layer. This is an easy fix by adding an option to the function to specify landscape layers.

[2017-05-09 15:10] bradduthie opened #23 "Revise predicted consequences of user and manager actions"
In functions in the genetic algorithm `res_to_counts` and `policy_to_counts`, the projected consequences of actions needs to be fine tuned. As of now, it predicts one fewer resource from `movem`, `killem`, and `castem`, and one more resource from `feedem` and `helpem` in `res_to_counts`. In `policy_to_counts`, it predicts one fewer resource for `killem` and one more resource for `feedem` and `help

[2017-05-23 15:44] bradduthie opened #26 "Genetic algorithm seed reliance"
For some reason, the initial seed of the genetic algorithm appears to be having an effect that it shouldn't. When there are no individuals seeded in the genetic algorithm from the previous generation, the agents appear to go under-budget. It's not clear why this is the case. Oddly, managers appear to use a budget of 250 despite it being set at 300 given any seed greater than zero. When the seed is

[2017-06-08 11:19] bradduthie opened #29 "No edge effect causes crash"
When `edge_effect = 0`, and therefore nothing happens when resources and agents move off of the edge of the landscape, R crashes. This is almost certainly due to some sort of memory leak. This is a low priority issue at the moment because I cannot think of a reason why anyone explicitly want the model to just ignore resources moving off of the landscape if someone wants something other than a toru

[2017-06-26 15:21] bradduthie opened #30 "Manager assumptions about user actions"
It would be useful to allow for simulations to dynamically adjust the caution that the manager has when changing actions. At the moment, managers always assume that some specified number of `actions` will be performed by users, and this number does not change over the course of the simulation. But managers might be able to use the history of user actions to learn to be more or less cautious when s

[2017-06-26 15:27] bradduthie commented on #23
This issue has been more-or-less resolved, in that a parameter now controls the predicted consequences for a manager, and it can predict a smaller change in actions from setting a policy (e.g., predicting 0.1 fewer resources from `killem` instead of 1 fewer resources.

[2017-06-26 15:27] #23 closed

[2017-06-26 15:32] bradduthie opened #31 "Modify manager's predicted effects"
Currently, the predicted effects of a manager's actions are set to values that, heuristically, appear to work in the genetic algorithm. This is adjusted with the `manager_sense` parameter, which has a default of 0.1, such that the manager assumes that if they set costs to increase culling by 100 percent, it will actually only increase by 10 percent (as not all users are going to necessarily cull i

[2017-06-26 15:41] bradduthie opened #32 "Long-term histories affect genetic algorithm"
Currently, only the history of interactions from the previous time step directly affects the genetic algorithm for stakeholders and managers. For managers especially, this could be made a bit more nuanced. The entire history of total actions and resource dynamics is recorded, and this could easily be made available (e.g., in `PARAS_REC`) for managers to make decisions. Incorporating these data int

[2017-06-26 15:49] bradduthie opened #33 "Non fixed mark-recapture sampling number"
Currently, to simulate mark-recapture observation and analysis, values for `fixed_mark` and `fixed_recapt` need to be specified in GMSE, and the manager would have exactly these numbers of marks and recaptures in each generation, respectively. It would also be useful to, instead of specifying exact numbers, to have the manager search a general area, then mark all resources in that area. Next, the

[2017-06-26 15:53] bradduthie opened #34 "Resource interactions"
Currently, more than one resource type is permitted, but this is not offered/visible to users of the software. A next major version of GMSE could have multiple resource types with resources actually interacting with one another (could borrow future development code from [EcoEdu](https://github.com/bradduthie/EcoEdu)). Simple interactions could include competition and predator-prey functions in the

[2017-07-05 16:21] #26 closed

[2017-07-05 16:21] bradduthie commented on #29
Not allowing no edge effect anymore.

[2017-07-05 16:21] #29 closed

[2017-07-05 16:21] #10 closed

[2017-07-05 16:22] bradduthie commented on #19
Fixed.

[2017-07-05 16:22] #19 closed

[2017-10-16 10:54] bradduthie opened #35 "Crash situations"
gmse() crashes R when either the manager and user budget is zero. Also, cannot have cost values of zero (fixes in initliase).

[2017-10-16 14:30] bradduthie commented on #35
Resolved with an error message in gmse().

[2017-10-16 14:30] #35 closed

[2017-10-25 15:39] bradduthie opened #36 "stakeholders == 1 in gmse_apply"
When only one stakeholder is included `gmse_apply`, R crashes. Include a simple error message when this is set.

[2017-10-27 16:08] bradduthie opened #37 "Pass whole output"
Just allow an argument in gmse_apply that allows the *full* results of a previous gmes_apply to be passed back into it. Then force an error when someone tries to pass a PARAS.

[2017-10-31 16:01] bradduthie commented on #37
This has been completed using the old_list argument for `gmse_apply`.

[2017-10-31 16:01] #37 closed

[2017-10-31 16:01] bradduthie commented on #36
This issue has been resolved.

[2017-10-31 16:01] #36 closed

[2017-11-03 08:06] bradduthie opened #38 "CRAN errors"
Issues with the below:

`==45075==    at 0x167F488A: res_to_counts (packages/tests-vg/GMSE/src/game.c:265)`

and

`==45075==    at 0x167FD2A5: user (packages/tests-vg/GMSE/src/user.c:654)`

The cast should be explicit in each case -- though I'm not sure why the first needs a cast to (double). Resolve, then re-run valgrind to double-check.

[2017-11-03 13:44] bradduthie commented on #38
These have been resolved by putting the `lambda` and `group_think` parameters in where the error estimates of the observation were in the parameters vector (these values weren't actually being used for anything). Hence, changing the absolute size of the parameters vector has been avoided, fixing the valgrind error. I still do not understand why this error occurred -- I've extended the parameters v

[2017-11-03 13:44] #38 closed

[2017-12-13 14:58] bradduthie opened #39 "Use of `converge_crit`"
The gmse argument `converge_crit` applies a convergence criteria to the genetic algorithm such that mean fitness increase needs to be below some magnitude to terminate one genetic algorithm run. At the moment, this only applies to users in practice because the manager's fitness is assessed by minimising its deviation such that each individual in the `POPULATION` has its deviation from utility subt

[2017-12-13 17:20] bradduthie commented on #39
The convergence criteria has now been fixed with commit [f598d8e52b47ef2017cac13d09aac1fb7aa6b506](https://github.com/bradduthie/gmse/commit/f598d8e52b47ef2017cac13d09aac1fb7aa6b506). To do this, I re-configured some of the genetic algorithm code into easier to read functions for checking the fitness increase. Now two separate ways of checking the increase in fitness from one genetic algorithm gen

[2017-12-13 17:20] #39 closed

[2017-12-21 10:37] bradduthie opened #40 "Age distribution bump"
Running simulations using `gmse_apply`, @jeremycusack noticed a small but noticeable sharp decline in the population size at a generation equal to the maximum age of resources in the population (used a maximum age of 20). This decline is caused by the initial seed of resources having a uniform age distribution.  In the first generation, these resources reproduce offspring that all have an age of z

[2018-02-01 11:29] bradduthie opened #41 "Ownership cells"
Check to ensure that the ownership of cells on the landscape is being divided accurately -- at the moment, ownership is being assigned probabilistically, not exactly (e.g., expected that two owners each get half of the land, but some variation around this expectation). It might be a useful option to allow *exact* specification of land ownership cells.

[2018-02-02 11:00] bradduthie opened #42 "Manage freq in `gmse_apply`"
A suggested enhancement by @jeremycusack is to get `manage_freq` to work in `gmse_apply` and effectively skip the management step when `old_list` is not `NULL`. The way that I would do this is to have an `if` statement in the main `gmse_apply` function that checks for the input `manage_freq = -1` (negative one being easy to interpret). If that is the case **and** there is an old list with user cos

[2018-03-15 15:41] bradduthie commented on #31
This is perhaps best done through a function of some sort `update_manage_impact`, which could regress the change in user actions against the cost set by the manager. This could update the relevant `parameters` vector elements so that the manager learns how to improve management.

[2018-05-01 12:15] jejoenje opened #43 "Strange plot_gmse_results issue?"
Apparently found a strange plotting issue given a specific set of parameters, where 'actions made' plot seems to plot <0, whereas action array definitely does not show this.

Reproducable example:
[code]

[2018-05-01 13:02] bradduthie commented on #43
Resolved in commit [e40a7b58a941bac00069a305d2b5dbd214677af3](https://github.com/bradduthie/gmse/commit/e40a7b58a941bac00069a305d2b5dbd214677af3) by setting `yaxs="i"` in the plots.

[2018-05-05 18:28] #43 closed

[2018-07-24 10:45] bradduthie opened #44 "manager sensitivity"
Consider adjusting sensitivity each time step by re-inserting culls/cull_attempts into a new time step, and likewise for other variables.

[2018-11-02 10:31] bradduthie opened #46 "paras vector heap buffer overflow"
In the last couple versions of GMSE, I have been unable to increase the size of the `paras` vector due to a heap buffer overflow that CRAN finds.

[code]

This is going to be a restriction in future development, so I am flagging this up as an issue to address. I think the issue is [this line](https://github.com/ConFooBio/gmse/blob/master/src/manager.c#L475) (equivalent exists in the other submodel

[2018-11-29 21:19] bradduthie opened #47 "Repeat call of `gmse_apply` causes crash"
**The unresolved problem**

As discovered by @jeremycusack -- if the function `gmse_apply` is called repeatedly with the same `old_list`, then R will crash. The code below replicates the crash.

[code]

The problem is a bit perplexing because the crash happens even if `sim2` is removed and `gc()` called before running the third line above. The problem also does not occur if alternate functions are

[2018-11-29 23:49] bradduthie commented on #47
It appears that the problem [needs to be solved in C](http://r.789695.n4.nabble.com/what-is-the-correct-way-to-force-a-copy-of-an-object-td4681012.html). I think this goes back to me reading in PARAS differently than I have been. I think that if I resolve Issue #46 this will fix this issue too.

[2018-12-01 16:06] bradduthie commented on #46
I believe that this issue has been resolved in the new version GMSE v0.4.0.8, which reads in the `paras` vector into C the same way as the other arrays. Before, the memory was not being copied, so any changes to the vector were affecting R. Now, the `paras` vector is copied, changed, and freed within C. Issue #47 has been resolved, but I am going to wait to close this until a new version of GMSE h

[2018-12-01 16:09] bradduthie commented on #47
With the commit [https://github.com/ConFooBio/gmse/commit/26a1d9f7e7180bae4e77b6aa1779baf1554831b7](26a1d9f7e7180bae4e77b6aa1779baf1554831b7), this issue is now resolved and a new GMSE version has been created. See previous commits leading up to this version to note the changes made to four C files. The bug was caused by a memory management issue in C, where C updated an old vector of parameter va

[2018-12-01 16:09] #47 closed

[2019-02-04 22:50] bradduthie opened #49 "Get `gmse_apply` to find custom functions in `old_list`"
As noticed by @jeremycusack -- which we both thought was a bug -- the `gmse_apply` function requires re-stating custom functions as arguments even when such arguments are available in the `old_list` argument. It shouldn't be difficult to get `gmse_apply` to recognise when it has a custom argument from an old list, then use that argument (overriding the default that is assumed when the argument is

[2019-03-19 21:02] bradduthie opened #50 "SI2 typo"
There are at least two typos in the most recent SI section  (`gmse_apply` supplement). This should be fixed.

[2019-03-26 16:22] bradduthie opened #51 "gmse_table estimate and manage_freq"
Make sure that the estimate of the population as reflected by `manage_freq` is accurate in `gmse_table`.

[2019-07-23 08:33] bradduthie opened #53 "Fix potential partial matching issue in `gmse_apply`"
Just to head off any potential issues in `gmse_apply`, several places in the code use the format `sim_list$element_name` rather than `sim_list[["element_name"]]. The latter is more robust because it prohibits partial matching. Hence in [gmse_apply.R](https://github.com/ConFooBio/gmse/blob/master/R/gmse_apply.R), this should be changed.

[2019-11-13 15:49] jejoenje opened #54 "gmse_apply: Error in eval(placing_vals[[i]]) : object 'sim_paras' not found"
I have come across this before, but thought it was me doing something odd... I am now thinking it might be a wider issue...?

Basically, when looping `gmse_apply()` through a number of (nested) iterations, all works as expected when using "unwrapped" loops, but when I wrap the same loops and code into a convenience functions (aiming to allow easy re-runs of simulation sets with different parameter

[2019-11-13 16:31] jejoenje commented on #53
@bradduthie, just to check if I understand you correctly, as a test I've replaced all the `sim_list$element` references in `swap_old_gmse()`. [See my latest commit to branch `jeroen`](https://github.com/ConFooBio/gmse/compare/jeroen).

Apols if this doesn't help, but if it does I'm happy to make further suggested changes.

[2019-11-13 17:26] jejoenje commented on #54
Pretty stuck with this - debugs seems to point to place_args() in `gmse_apply` but sill unsure whether this is a bug or my own stupidity...

[2019-11-13 19:42] bradduthie commented on #54
@jejoenje I have reproduced the error message. I'm not entirely sure what is going on, but I suspect it is something to do with the details of how arguments are passed within `gmse_apply`. It might be best to get `place_args` to print out some lines for when it works, then when it doesn't?

[code]

I'm happy to debug a bit too here, if I can help. My fear is that there is something not being passe

[2019-11-13 19:45] bradduthie commented on #54
I should add @jejoenje -- a lot of the reason `PARAS` is so finicky is that it is a sort of master vector that holds the necessary values for things like array dimensions in C. If those array dimensions are contradictory in some way (e.g., `PARAS` says 50 resources, but the array size is wrong for this), then C will often just crash due to bad memory allocation and bring all of R down with it. Let

[2019-11-13 20:04] jejoenje commented on #54
Thanks v much for looking at this @bradduthie. Much appreciated.

Yes, I'd been trying to step through `place_args()` in much the same way - I need to take a closer look at it again, but is it possible that the _value_ and the _name_ of the value are confused, somehow? As you say though, it seems odd that it works when directly looping, but not when wrapped. At first I thought it will probably be

[2019-11-14 11:37] jejoenje commented on #54
I'm now wondering if there is some weird scope issue going on here...
Did some more debugging and made some notes inside `place_args()` [my last commit](https://github.com/ConFooBio/gmse/commit/76250d1dec62c7b466fb3fb43ffa49f8110b86cc). Essentially, it does appear as if `eval(placing_vals[[i]])` returns the expected value (i.e. "Full" for `get_res`, for example) when not executed inside a wrapper

[2019-11-14 11:44] bradduthie commented on #54
Thanks for narrowing this down @jejoenje -- yeah, that's kind of what I feared. Off hand, I have no idea why the full value is returned when not inside the wrapper, but the `"get_res"` is returned when wrapped. I suspect that there is a very ugly way to solve this (e.g., have the function first check if it is in a wrapper, then adjust accordingly if so), but it would probably be better if we could

[2019-11-15 15:39] jejoenje commented on #54
Some further progress, and not, with this.
I've managed to get my proposed wrapper function working by doing two things -

1. Ensure to include optional parameters (...) in the wrapper function call as well as _both_ `gmse_apply()` calls inside the wrapper function ([see wrapper code](https://github.com/ConFooBio/gmse/blob/jeroen/notebook/gmse_apply_wrapper_issue.R)).

2. Make a two-line change to

[2019-11-15 15:57] bradduthie commented on #54
Can't think of anything off hand, except that maybe there is an issue on [L1994](https://github.com/ConFooBio/gmse/blob/master/R/gmse_apply.R#L1994) and the [`collect_itb_ini` function](https://github.com/ConFooBio/gmse/blob/master/R/gmse_apply.R#L1657) in trying to make the landscape?

Then again, there is only one line where `is.na(arg_list[[ot_pos]][1])` [appears](https://github.com/ConFooBio/g

[2020-01-06 13:09] bradduthie opened #55 "Extraneous comments"
Some comments have been left in the code (e.g., in the [genetic algorithm](https://github.com/ConFooBio/gmse/blob/master/src/game.c#L506). This isn't hurting anything, but before the next version, these can be removed.

[2020-01-06 13:11] bradduthie commented on #53
@jejoenje Yeah, this is exactly what I meant -- before the next version of GMSE, I'll try to remind myself to make sure these get changed.

[2020-01-06 13:21] bradduthie opened #56 "Resource-landscape interaction"
At the moment, GMSE only allows for a fixed carrying capacity that is not tied to resource consumption on landscape cells. Now GMSE is being used for projects with @AdrianBach @jejoenje @nbunne and Lovisa, with a major element of these models being resources (e.g., geese) feeding on the landscape. Hence, I am tempted to code a link between resource consumption and resource mortality. In other word

[2020-01-06 13:36] AdrianBach commented on #56
Hi Brad,

Good idea, I would find it really useful! The carrying capacity can be a confusing notion sometimes, and less straightforward a measure as a yield or a consumption rate. Do manager usually use it?
Moreover, it would avoid setting a fixed value for the carrying capacity, which is likely to vary over time and with changes in the environment.

Cheers,
Adrian
________________________________

[2020-01-06 15:38] jejoenje commented on #56
Agreed I think this would be a great additional feature and a natural next step!
I'll give this a bit more thought, but the following elements/features come to mind -

1. Retaining the option to set a fixed CC and have no link between resource consumption and survival (i.e. defaulting to the current set up). Although I agree with @AdrianBach that it may be unlikely the CC concept is actually used

[2020-01-07 17:02] bradduthie commented on #56
Many thanks @AdrianBach and @jejoenje -- this helps a lot! I agree that having population dynamics (and therefore carrying capacity) more mechanistically affected by yield would be more straightforward. Regarding your points @jejeonje:

1. I definitely agree that any new addition should ensure backwards compatibility. Code run before this hypothetical new version should run exactly as before. The

[2020-01-08 14:15] nbunne commented on #56
That sounds all really good.
Re 2) I think a function rather than a threshold is really important for the link between consumption and survival, because ecological theory supports gradual changes rather than hard tipping points. I think that would be a really great step forward.

[2020-04-01 07:33] jejoenje opened #58 "plot_gmse_results() abundance plot Y scale"
Only a very minor issue but I've noticed that `plot_gmse_results()` limits the Y axis for abundance quite low, so that any upper "confidence" bounds through imperfect detection are off the top of the scale. Will investigate in due course.

[2020-04-01 11:42] #46 closed

[2020-04-01 11:43] bradduthie commented on #46
This issue has now been resolved, and a new version of GMSE v. 0.4.0.13 has been submitted to CRAN.

[2020-04-01 11:47] bradduthie opened #59 "Incorporate action threshold"
The code from @AdrianBach needs to be incorporated into the master branch of GMSE. Doing this will mainly consist of resolving a merge conflict and a bit of refactoring, and I plan to do this early on in developing what I hope to be a new version of GMSE by the end of APR 2020.

[2020-04-01 20:37] bradduthie commented on #55
Closing this issue due to fixes in commit [762eed369252a4e9bd210533ca483482397b053f](https://github.com/ConFooBio/gmse/commit/762eed369252a4e9bd210533ca483482397b053f).

[2020-04-01 20:37] #55 closed

[2020-04-01 20:39] bradduthie commented on #53
Closing this comment, as the issue is now fully addressed in commit [b119cd5770fbd9c717fb56907ad7ff3f64e12342](https://github.com/ConFooBio/gmse/commit/b119cd5770fbd9c717fb56907ad7ff3f64e12342)

[2020-04-01 20:39] #53 closed

[2020-04-23 14:42] bradduthie commented on #56
With commit [6d1e5e6ca41bc6bb45c62cb174f34480c3c5add1](https://github.com/ConFooBio/gmse/commit/6d1e5e6ca41bc6bb45c62cb174f34480c3c5add1), I believe that I now have resolved Issue [#56](https://github.com/ConFooBio/gmse/issues/56) and created a version of GMSE that now allows resource death and reproduction to be tied to resource consumption on the landscape. Initial testing shows that this works

[2020-04-23 14:54] jejoenje commented on #56
This sounds fantastic @bradduthie!
Nice work indeed!

I much look forward to playing with this. Indeed, I'm currently working on a set of simulations varying user/manager budgets as well as land distribution among users, as discussed, so it would be fairly straightforward for me to replicate the exact scenarios I'm running but with the new consmuption parameters.

Just to check if I understand the

[2020-04-23 15:35] jejoenje commented on #56
Actually thinking about it - the "easy" procedure for more "natural" landscape distribution among stakeholders I was thinking of, is essentially a tesselation as produced by [`NLMR::nlm_mosaictess`](https://ropensci.github.io/NLMR/). While this is very fast and can produce some very satisfying-looking "landscapes", it does result in landscapes with a significant amount of (non-uniform) variation a

[2020-04-23 16:39] bradduthie commented on #56
Awesome @jejoenje -- yeah, resource movement has not changed. To keep everything backwards compatible, the `res_mover` function is [still called](https://github.com/ConFooBio/gmse/blob/dev/src/resource.c#L532) in the default resource model. The lines immediately below are only called if consumption affects birth or death (defaults are zero, meaning that it will go unused as in old versions of GMSE

[2020-04-24 15:21] bradduthie commented on #56
Fingers crossed that the new [R 4.0.0] doesn't result in any painful challenges to GMSE. I'll download and run all checks in the new R before submitting to CRAN (might need to be early to mid May).

[2020-04-24 15:24] jejoenje commented on #56
woo R 4.0! I hadn't spotted that yet...
I'm keen to run a bunch of tests with the new functions etc as above; I'll aim to do this as soon as I can (next week now, realistically).

[2020-04-27 18:17] bradduthie commented on #56
One problem I'm now seeing [here in the genetic algorithm](https://github.com/ConFooBio/gmse/blob/master/src/game.c#L272) is that users perceive their actions' of castration and feeding as being directly tied to `lambda`. This means that if simulations are run with `lambda = 0` specified to make survival or reproduction dependent only on landscape consumption, then users will assume that castratio

[2020-04-28 08:45] jejoenje commented on #56
I must admit, I haven't actually used the feeding or castration options myself at all yet, so I hadn't actually realised that this would be an issue. Good spot...

This would then only apply IF `lambda = 0`, correct?

This sounds fine to me, I can't say I have much of a better idea...
Would it be really unreasonable to hypothesise that a users' expectation of resource growth is always 1, i.e.  the

[2020-04-28 08:48] jejoenje commented on #56
@bradduthie Just as an update, I now have the development version installed in a separate R installation and my simulation scenarios seem to be running, both as they were and with the new parameter values set, too.
I'll get some stuff run and will see if I can post some outputs here or elsewhere. These are 100 simulations of 100 years, both with and without varying budgets and landownership. I hav

[2020-04-28 09:59] bradduthie commented on #56
Sort of -- it would apply especially when `lambda = 0` and stakeholders mistakenly believe that their actions have no effect. But if, e.g., a low `lambda` is augmented by increased birth caused by landscape consumption, then it would apply here too. A flat assumption might work. I'll try to keep things as they are for the no consumption case for now, then maybe increment the effects of presumed co

[2020-04-28 11:26] bradduthie commented on #56
I'm now thinking that maybe the best solution is to do the above, but release the current version tagged on the master branch (but not to CRAN). This assumes that everything looks good to you @jejoenje and that both of us can run our code with no apparent issues.  That can be version 0.5.0.0, with the changes from @AdrianBach, Lovisa's crane model, and the landscape consumption included. A new ver

[2020-04-28 11:37] jejoenje commented on #56
@bradduthie Sounds good re. releasing 0.5 on `master`. However, I'm just running simulations with the current dev version now, so would it make sense finish doing that? That should give us a good idea of the consequences of both the new resource consumption functions. I should be able to show some comparisons of at least population trajectories of this later today or tomorrow.

As for (1) above I'

[2020-04-28 11:58] bradduthie commented on #56
Sounds good on the simulations @jejoenje -- I'll wait until things look good on your end too. Re-running the vignettes should also help confirm that everything is working correctly (I also wrote a [testthat](https://github.com/ConFooBio/gmse/blob/dev/tests/testthat/test-gmse_apply_loops.R#L17) test that loops `gmse_apply`, which takes few seconds but I think is worth it since there are a lot of wa

[2020-04-29 15:55] jejoenje commented on #56
@bradduthie I've now finished several sets of simulations, varying user and manager budgets and landownership, both using GMSE 0.4.0.13 and the dev version 0.5.0.0.
[You can see these here](https://jejoenje.github.io/gmse_vary/gmse_vary_05tests.html); in a nutshell, the simulations across all scenarios seem to behave in the same way in 0.5.0.0 as they did in 0.4.0.13, although clearly the paramete

[2020-04-29 16:18] bradduthie commented on #56
Many thanks for this @jejoenje -- it's reassuring that everything seems to behave in the same way across versions. I don't think I have a handle yet on how to use the new parameter values most effectively (i.e., what we should consider 'high' versus 'low' values). Eventually we might want to build in things like time lags.

Okay, I'll merge this with the master branch soon and add a tag so that GM

[2020-04-29 21:50] bradduthie commented on #56
GMSE [v0.5.0.0](https://github.com/ConFooBio/gmse/releases) now up on GitHub. It just occurred to me that the last thing that should be done is to update the `gmse_gui` with the new arguments. The GUI still works fine; I'll just leave those updates to the next version.

[2020-04-30 11:44] bradduthie commented on #56
As long as we're changing things, I think that v0.6.0.0 might be a good time to re-evaluate how the users perceive scaring actions. Currently, they assume that scaring a resource will remove it from their land, and that scaring therefore has the same effect as culling. But this seems unrealistic for a farmer who owns half the landscape. I think it's reasonable to assume that people don't have acce

[2020-05-08 14:26] bradduthie commented on #59
This is complete as of v0.5.0.0

[2020-05-08 14:26] #59 closed

[2020-05-09 00:42] bradduthie commented on #56
Okay, I think I've figured out a cool recursive way to do the shortest-splitline algorithm and break the landscape up into neat boxes fairly quickly. I'll give it a shot the next time I sit down to code.

[2020-05-13 11:11] jejoenje opened #61 "apparent `gmse_apply` issue with `ownership_var` in branch `jeroen`"
I can't seem `gmse_apply()` to work with the revisions to the implementation of `ownership var`.
Although the parameter does not throw an error when passed to `gmse_apply`, its effect does not seem to be implemented:

[code]

I am not sure but may be `pass_paras()` in [`gmse_apply.R`](https://github.com/ConFooBio/gmse/blob/jeroen/R/gmse_apply.R) does not include `ownership_var` yet - I must admit

[2020-05-13 18:12] bradduthie commented on #61
Okay, I've edited the `gmse_apply` function in [the commit bb0cd910fe5ded0ec431ef805c4e4dafd0f1ccef](https://github.com/ConFooBio/gmse/commit/bb0cd910fe5ded0ec431ef805c4e4dafd0f1ccef). I think that [this line](https://github.com/ConFooBio/gmse/commit/bb0cd910fe5ded0ec431ef805c4e4dafd0f1ccef#diff-d4d6aa81029a2ee222d140bec2086e21R1389) was the hang up. The HEAD now should be working fine with no err

[2020-05-14 08:39] jejoenje commented on #61
Spot on @bradduthie ! Thank you. I was looking for the issue much higher up in `gmse_apply.R` and never twigged that `ownership_var` would be needed by functions further down, too.

This all works now, from my end - would you like me to try to merge to `rev`?

Incidentally,  what does the function `collect_itb_ini()` do, purely out of interest?

[2020-05-14 09:16] jejoenje commented on #61
MMh let's hold fire, I am now managing to crash R and RStudio when trying to run GMSE with the new revisions in my extended "scenario" sets; it seems to work absolutely fine when I put parameters into `gmse_apply` directly but not when adding from pre-existing variables (just for convenience when looping multiple simulations/scenarios). Weird??

I'll do some more tests, and will report back.

I've

[2020-05-14 10:04] jejoenje commented on #61
Yes I **think** this is just a local problem with me compiling/installing a locally installed branch (`jeroen`) - for some reason using input variable names that are identical to `gmse_apply` argument names crashes things in this case; so this
[code]
etc. doesn't work when I've locally compiled and installed branch `jeroen`, whereas it DOES when I am working from either `rev` or `dev` installed re

[2020-05-14 10:32] bradduthie commented on #61
Huh, @jejoenje -- okay, let's make sure that this is truly a local issue. Can you send me a script to try to replicate the crash? Also, what version of R are you currently running? I'm still on v3.6.3.

It just occurred to me that there was a difference in an earlier script you sent. Let me find the line to see if I can diagnose.

[2020-05-14 10:46] bradduthie commented on #61
Could [this line](https://github.com/ConFooBio/gmse/blob/92a1a34d27544bd91303fa39cab2c70c1615c654/R/gmse_apply.R#L1234) and the edit above it be an issue? I reverted it back because I think that you need the `eval` there?

Oh, sorry, to answer your question, `collect_itb_ini`, I think, collects the arguments for constructing an array of interactions between the land and resources (just a two by tw

[2020-05-14 10:53] jejoenje commented on #61
It could be, I was looking for that edit/commit earlier and I couldn't for the life of me find it.
But that line should be the same between `rev` and `jeroen` right?

I now don't seem to be able to reproduce my own issue... ARGH!
Bear with me, it might just be best if I send you a script for you to try in your own installation of `jeroen`...

[2020-05-14 11:02] jejoenje commented on #61
No go for it - please do.

OK I think I have definitely confirmed this was just a local issue, so I think we can stop worrying about this - I believe it was being caused by me using a menu option in RStudio to install and build a local package (as opposed to using `devtools::install(reload = TRUE, quick = FALSE, build = TRUE)`. The only thing I can think is that for some reason it was causing diff

[2020-05-14 11:03] bradduthie commented on #61
Okay, thanks @jejoenje -- will tag you once I've got `gmse_apply` working correctly again.

[2020-05-18 13:44] jejoenje opened #62 "external function for constructing paras vector?"
Currently, I note `gmse.R` and `gmse_apply.R` each separately construct the `paras` vector, even though its structure, I think, is expected to be exactly the same in both; consisting partially of dynamic variables and partially of a set of constants referring to locations in arrays, etc.

I wonder whether it would be useful to have a separate function, whose only job it is to construct `paras` fro

[2020-05-18 13:47] #61 closed

[2020-08-26 10:57] bradduthie opened #63 "Marginal case of dead resource feeding"
There appears to be a very marginal case in which culled resources could do some feeding in the following time step, thereby slightly affecting crop production on a single landscape cell. Here's the problem line: https://github.com/ConFooBio/gmse/blob/master/src/resource.c#L557

While the most common case checks to see if a resource has been culled before allowing it to feed on the landscape (http

[2020-08-26 10:58] #56 closed

[2020-08-26 10:58] #41 closed

[2020-08-26 11:08] bradduthie opened #64 "TODO list for GMSE v0.7"
**Please add to this list as desired**

- [x] Check on the random int sampler mentioned in #74
- [x] Add manager bias noticed in #73 to the documentation somehow
- [x] Double-check on the use of `int` in tournament function in [Issue 68](https://github.com/ConFooBio/gmse/issues/68)
- [x] Resolve #65 with the apparent bug
- [x] Resolve #63  on the culled feeding issue
- [x] Add new features from @A

[2020-08-26 11:35] #50 closed

[2020-09-15 10:06] jejoenje opened #65 "Minor apparent bug in "error catch" for `gmse_apply`"
Very minor apparent bug which does not seem to be affecting anything much, but points erroneous error specification in `manage_target` to `scaring`, while the latter is specified correctly.
Haven't had time to investigate specifically but [the reference to `input_list[41]`](https://github.com/ConFooBio/gmse/blob/1c295dd53a63cc9aa905f6934cf2800711212a79/R/gmse_apply.R#L1173-L1174) which should prod

[2020-09-15 17:58] bradduthie commented on #65
Thanks @jejoenje -- I'll take a look. I count the index `input_list[41]` to be `scaring` though?

[2020-09-16 08:33] jejoenje commented on #65
Huh, I must have miscounted! Not sure what happened there... Sorry!

Still not sure whats going on re. the error relating to `manage_target` above, though. It appears I can give it a single TRUE or FALSE without issue, it's just that list it's choking on and blaming `scaring`.

As I said though, not a big issue at all, just thought I'd put it in here for reference.

[2020-09-16 08:55] bradduthie commented on #65
Odd. I'll take a look @jejoenje -- I wonder if the vector form of `manage_target` is somehow screwing up the `input_list` by not taking the first element? And it does with list? I'm just guessing here, but would be good to find out.

[2020-09-16 09:02] jejoenje commented on #65
Ah, yeah, it probably is that actually. I note `input_list` is a "straight" concatenation of the input variables, so I guess `list` or vector inputs where a single value is expected will mess up the order in that vector, and hence the numeric references.
This is an example of a similar issue, with another error message relating to something else:
[code]
I guess this is OK as long as such a paramet

[2020-09-16 09:44] bradduthie commented on #65
It might be good to write a function that just checks all relevant inputs to make sure that they are scalars? At least, we might want to check the obvious ones that should be TRUE/FALSE for the user and raise a flag if they're trying to insert something with the wrong structure. I'll add it to the TODO list for v0.7.

[2020-09-16 10:19] jejoenje commented on #65
Sounds good @bradduthie. I will definitely help with the TODO list (sorry for being rubbish so far!).
Was also wondering if it would be possible to switch to named vectors/lists for parameter inputs, just to avoid confusion, but this may be rather a lot of rewriting and perhaps overkill.

[2020-09-17 17:48] bradduthie commented on #65
Cheers! I guess a named vector/list switch would depend on how much would need to be refactored and changed, and how it might affect the backwards compatibility.

[2021-05-01 15:57] bradduthie opened #68 "Tournament function double should be int"
In [this line](https://github.com/ConFooBio/gmse/blob/master/src/game.c#L713) of the tournament function, memory should allocate `int` rather than `double`.

[2021-05-01 17:54] bradduthie commented on #68
Also, [this line](https://github.com/ConFooBio/gmse/blob/master/src/utilities.c#L84) should be swapped out to something that doesn't rewrite over itself and looks like the below:

[code]

The old function is being slightly more aggressive in the genetic algorithm by repeating high fitness values more often than we would expect. This is minor in terms of the adaptive strategies generated, but good

[2021-05-01 19:23] bradduthie commented on #68
Note that the existing function is essentially the same given the default parameters of the genetic algorithm, but rewriting as above might affect marginal cases with small strategy populations, small tournaments, and many tournament winners (i.e., not the most effective parameter choices).

[2021-05-05 09:51] jejoenje commented on #54
I've unfortunately run into this issue again, so coming back to this now.

Broadly speaking the overall issue is that is appears `gmse_apply` cannot be "wrapped" in a function that passes external parameter values.

To make returning to this issue easier, here is the shortest reproducable code I can manage to show the problem:

[code]

I'm now pretty sure this is a scope issue; the line `arg_eval

[2021-05-05 10:01] bradduthie commented on #54
Thanks @jejoenje -- I'll try to take a closer look and see if anything comes to mind. There might be something clever that we can do with the memory allocation to make it work? I'm really, really hoping to dig into the code again toward the end of the month with a new version.

[2021-05-28 10:55] bradduthie commented on #68
I believe this has been resolved in the new version update, but I'm leaving this open until I double-check.

[2021-05-28 11:00] bradduthie opened #73 "Some conditions result in biased observations"
Because managers return to their 'home' cell after estimating population size, when `res_observe_type = 0`, `times_observe = 1`, and `agent_view` is less than the full size of the landscape, the manager will be sampling the density of the population from the same position on the landscape each time. In a situation like @mattnuttall00 is running where resources don't move, this causes a biased esti

[2021-05-28 12:32] mattnuttall00 commented on #73
This is really interesting, thanks @bradduthie! I hadn't realised (or just hadn't really thought) about the manager being based in an explicit location, and therefore beginning their observations from the same spatial point. This makes sense now. My initial thought is that this is a feature. I can envisage scenarios where you may want to introduce systematic bias into the observation process via a

[2021-05-28 12:36] bradduthie commented on #73
Thanks @mattnuttall00 -- yes, I was slightly nervous when I saw the consistently biased estimates, but it now makes sense, and I agree it can be considered a feature. The pattern goes away as soon as you let the manager move at least once (as you would expect), or if the resources themselves are moving.  Perhaps it's just an interesting point to put in the documentation.

[2021-06-29 15:02] bradduthie opened #74 "Random int sampler"
The [code to randomly sample](https://github.com/ConFooBio/gmse/blob/master/src/utilities.c#L9) from X to Y might be biased and only sample to Y - 1. Double check on this, as I can't remember if this was by design (e.g., randomly sample a value from 0 to 99 when putting in 0 to 100).

[2021-06-29 15:07] bradduthie commented on #74
In general, the comments in this file also just need to be cleaned up.

[2021-07-27 14:29] bradduthie commented on #64
Hi @jejoenje @jejoenje @nbunne @mattnuttall00 -- I'm going to now start going through each of these one by one. Just let me know if there are any new features that should be added or bugs that should be fixed for the new GMSE version. I've got one pull request from @jejoenje and one from @AdrianBach that I'll incorporate first. I'm not sure how long it will take for the version update, but I'm hop

[2021-07-27 14:31] AdrianBach commented on #64
Many thanks Brad! Let me know if I can help with anything regarding my code.

Cheers,
Adrian
________________________________
From: Brad Duthie ***@***.***>
Sent: 27 July 2021 15:29
To: ConFooBio/gmse ***@***.***>
Cc: Adrian Bach ***@***.***>; Mention ***@***.***>
Subject: Re: [ConFooBio/gmse] TODO list for GMSE v0.7 (#64)

CAUTION: This email originated from outside University of Stirling. Do not

[2021-07-27 14:35] jejoenje commented on #64
Thank you @bradduthie ! I can't think of anything off the top of my head,
in addition to the things that are already in as pull requests. Happy to
help any way I can, just let me know.

On Tue, Jul 27, 2021 at 3:29 PM Brad Duthie ***@***.***>
wrote:

[2021-07-27 14:51] mattnuttall00 commented on #64
Thanks @bradduthie!

The main feature I will be needing for the second half of my GMSE chapter (or the 2nd stand alone GMSE chapter) is some kind of incentive "payment" for the users that will replicate payment for ecosystem services, or REDD+ type payments. In other word, they get some "benefit" for choosing to NOT cut down trees.

I of course want to make your life as simple as possible, so if t

[2021-07-27 17:37] bradduthie commented on #74
This was easy; the rand int sampler was just fine, but a small tweak needed to be made to make sure that resources were able to move the full distance some of the time.

[2021-07-27 17:37] #74 closed

[2021-07-27 17:54] bradduthie commented on #64
A feature that includes some kind of benefit in terms of compensation to users has been an idea that has been challenging since the first published version of GMSE. The issue, partly, is how this benefit would manifest in the dynamics of the model. At first I was thinking that such a feature might be redundant given the use of the farming option in GMSE, and I do think that there is a way to use t

[2021-07-28 13:33] bradduthie commented on #68
This appears to be resolved, and the memory allocation has been fixed.

[2021-07-28 13:33] #68 closed

[2021-07-28 13:53] jejoenje commented on #64
The point about incorporating some form of option for a compensation "payment" is an interesting one, and it's also interesting given a bit of feedback we've seen on the Animal & Farm game you may have seen yesterday @bradduthie.

I think I see what you mean re. using `tend_crop_yld` to mimic this, but if so, would that not mean the `tend_crop_yld` option could not be varied independently from any

[2021-07-28 14:04] bradduthie commented on #64
Ah! @jejoenje -- we should have had you join @mattnuttall00 and me this morning. We might have figured out a workaround as a start, which is not quite what as nice as what you suggested, but a bit better than just using `tend_crop_yld`. I'll just paste the script below, but note that you'll need to download the most recent version on GitHub due to a coding error being fixed (tl;dr, a 'castration'

[2021-07-28 14:15] jejoenje commented on #64
Huh, that's interesting and a clever workaround! I like it. :)
I'd forgotten @mattnuttall00 set up re. zero growth; so the key point here is that this solution does rely on there being no resource growth, right? And I guess, more conceptually speaking, it has the implicit assumption that any ecosystem service payments (ie. feeding actions) are _always_ effective - i.e. conceptually this doesn't al

[2021-07-28 17:00] bradduthie commented on #65
I think I have this one fixed (or, at least, giving an appropriate error message). I'll tag this and then close it when I push the commit.

[2021-07-28 19:37] bradduthie commented on #63
The columns look okay actually, so I'm not sure what I was talking about there. Nevertheless, the marginal case of dead resources feeding under the original system of resource-landscape interactions should now be resolved. I've not changed anything else about this old system of feeding (e.g., increasing the consumption column of the resource) because it's really a legacy way of doing things, and t

[2021-07-28 20:12] bradduthie commented on #64
Yeah, @jejoenje -- the hack wouldn't work unless `lambda = 0`, though we could potentially play around with this (see below). The assumption is that payments are always effective, but perhaps we could add some stochasticity?

Wow, it really doesn't feel like that long ago that we were introducing some of these issues. @jejoenje -- did we resolve Issue #54 already? We did already with [this commit]

[2021-07-29 07:09] mattnuttall00 commented on #64
Thanks @bradduthie for that code, and for the super cool hack! I totally understand it now (I'll admit I only vaguely followed yesterday morning, having no prior knowledge of `feeding` or `perceive_feed`). I think for what I need, it will work nicely.

Am I correct in thinking that to set the `feeding` (or any action) cost low, the manager uses less budget than if they were to set it high? If this

[2021-07-29 12:45] jejoenje commented on #63
First of all the new way looks good to me @bradduthie, I like the mix of moving and feeding, it seems to make sense to me from a realism perspective, and I think could be important in particular if there are many land owning stakeholders - i.e. feeding would potentially impact stakeholders more variably compared to the old way?
In terms of the second movement step... I'm not sure if I follow why i

[2021-07-29 12:49] jejoenje commented on #54
@bradduthie in response to your query [here](https://github.com/ConFooBio/gmse/issues/64#issuecomment-888589876), yes this issue has been resolved by 99cad1d5ec13645cf047d9615a49b310e7c13e1e.
I'll close this one.

[2021-07-29 12:50] #54 closed

[2021-07-29 12:56] jejoenje commented on #64
@bradduthie Thanks for all this. We can discuss at the meeting, but very briefly, in terms of the new feature suggestions you made, they're all really good, personally I would tend towards no. 1 (implementing some form of ES payments / compensation feature through an overhaul of the `feeding` option (personally I don't envisage `feeding` being used that much if at all? I also really like no. 5 (la

[2021-07-29 12:58] jejoenje commented on #64
@mattnuttall00 Yeaaah you're dead right, that would be an issue in what I suggested, good point. Maybe for that to work then, there would need to be a further restriction in how users could invest the compensation payments (e.g. they could only be used towards investment in `scaring` or `tend_crop`? Perhaps this would be too complex after all...

[2021-07-29 16:13] bradduthie commented on #58
Should be fixed now!

[2021-07-29 16:13] #58 closed

[2021-07-29 20:02] bradduthie commented on #64
Now worked through integrating code from @AdrianBach -- `gmse_apply` and `testthat` updated for the new paras vector, and all CRAN checks appear to pass in Rstudio. Next up is to do the following:

1. Get the documentation updated
2. Go through the whole package again
3. Run Valgrind to check for any memory leaks
4. Do the more exhaustive CRAN checks on [WinBuilder](https://win-builder.r-project.o

[2021-07-31 16:55] #65 closed

[2021-07-31 16:56] bradduthie commented on #73
This issue is now mentioned in one of the vignettes.

[2021-07-31 16:56] #73 closed

[2021-07-31 17:12] bradduthie commented on #63
Thanks @jejoenje -- I agree that the variance in feeding is probably more realistic. I've kept the feed, move, feed, etc., pattern, but added an if statement [here](https://github.com/ConFooBio/gmse/commit/bebffc0f4b89ab1aca685e5b709d87a29ce05fe7) so that resources don't move twice after feeding their final time. The end result, I think, is that individuals move a more realistic number of times, b

[2021-07-31 17:12] #63 closed

[2021-08-03 10:02] bradduthie opened #76 "Problem with `mem_prv_observ` argument"
The `mem_prv_observ` argument takes a boolean value, but it is unclear to me why we would ever need this value to be `TRUE`. Should it not always be `TRUE` when using the trajectory method of prediction?

Additionally, there is an error in the code on [this line](https://github.com/ConFooBio/gmse/blob/master/src/manager.c#L430), which reads:

[code]

`FALSE` is equivalent to 0 in R, but not C, so

[2021-08-03 10:37] bradduthie commented on #76
I've now swapped the line so that it reads as follows:

[code]

This should be okay then, but it's still not quite clear that the if/else is needed?

[2021-08-23 18:37] AdrianBach commented on #76
Hi @bradduthie !

Hope all is well !

Yes, this if else is needed because mem == 0 corresponds to the ATI strategy and mem > 0 to TRJ strategy. Is this the if else you are talking about?

Cheers!

[2021-09-27 14:04] mattnuttall00 opened #77 "Add perception updates to `update_old_gmse`"
Adding this reminder at @bradduthie request:

The current version of `gmse_apply` does not have a check for updates to perception parameters (e.g., `perceive_feed`) within the `update_old_gmse` function. This means that you have to directly alter the parameter values in the relevant array at each time step

[2021-11-02 17:07] #64 closed

[2021-11-10 10:29] chrislittleboy opened #78 "New feature request: make cost to cull resources a function of distance between the user and the resource"
I'm using GMSE to simulate deforestation with real-world spatially explicit populations and forests. To make this work, ideally there would be a feature where users who don't own land make a decision to 'cull' trees which are close to them. We discussed a potential three-step process:

-  Users find the closest tree by searching the landscape near them
-  The cost to cull a tree would be a functio

[2021-11-17 11:11] bradduthie commented on #78
Hi @chrislittleboy  -- sorry for the late response here. This all sounds good, and I'm looking forward to getting into the coding for this. Please do feel free to create a new branch and have a go at the coding (let me know if you need some help with the git setup!).

[2022-06-03 16:26] bradduthie opened #79 "Strange crashes on some simulation runs"
I have been getting some unusual crashes and error messages in some simulations. Specifically, I receive the following message sometimes:

[code]

This happens when there is a population extinction; e.g.,

[code]

Rarely, a memory issue seems to be happening, but I can't get it to crash with any kind of consistency.